# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc

# Virtual environments
venv/
env/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Package directories
input_handling/__pycache__/
mqtt_services/__pycache__/

html/
latex/
smart_grid_table.egg-info/
src.egg-info/
pyvenv.cfg
lib
lib/
lib64
lib64/
bin/
build/
include/
share/
export/